@font-face {
    font-family: 'haettenschweiler';
    src: url(‘/static/haettenschweiler_[fr.allfont.net].ttf’) format(‘idk’)
}

* {
    padding: 0;
    margin: 0;
    color: white;
}

body {
    height: 100vh;
    width: 100%;
    background: rgb(114, 33, 163);
    background: linear-gradient(90deg, rgba(114, 33, 163, 1) 0%, rgba(174, 38, 79, 1) 100%);
}

#screen {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

#navigation-bar {
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: space-between;
    font-size: 1.2rem;
    font-family: 'haettenschweiler', idk;
    background-color: rgba(0, 0, 0, 0.5);
}

#logo {
    display: flex;
    height: 100%;
    width: 20%;
    align-items: center;
    justify-content: center;
}

#logo-jordan {}

#text-jordan {
    text-align: center;
}

#onglet {
    display: flex;
    height: 100%;
    width: 33%;
    align-items: center;
    justify-content: space-evenly;
}

.items {}

#content {
    display: flex;
    height: 90%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#title {
    display: flex;
    font-family: 'haettenschweiler', idk;
    align-items: center;
    height: 15%;
}

#catchphrase {
    font-size: 2.5rem;
    font-weight: 500;
    color: black;
}

#shoes {
    display: flex;
    background-color: bisque;
}

.arrow {
    display: flex;
}

#sneakers {
    display: flex;
}

#description-div {
    display: flex;
    background-color: aqua;
}

#description {}

#buyit {
    display: flex;
    font-family: 'haettenschweiler', idk;
    background-color: bisque;
}