@font-face {
    font-family: 'haettenschweiler';
    src: url(‘/static/haettenschweiler_[fr.allfont.net].ttf’) format(‘idk’)
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background: rgb(114,33,163);
    background: linear-gradient(90deg, rgba(114,33,163,1) 40%, rgba(174,38,79,1) 100%);
    color: white;
}

#screen {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

#navigation-bar {
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: space-between;
    font-size: larger;
    font-family: 'haettenschweiler', idk;
    background-color: rgba(0,0, 0, 0.5);
}

#logo {
    display: flex;
    height: 100%;
    width: 20%;
    align-items: center;
    justify-content: center;
}

#logo-jordan {}

#text-jordan {
    text-align: center;
}

#onglet {
    display: flex;
    height: 100%;
    width: 33%;
    align-items: center;
    justify-content: center;
}

.items {}

#content {
    display: flex;
    height: 90%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#title {
    
    display: flex;
    color: black;
    font-family: 'haettenschweiler', idk;
    justify-content: center;
}

#catchphrase {}

#shoes {
    display: flex;
}

.arrow {
    display: flex;
}

#sneakers {
    display: flex;
}

#description-div {
    display: flex;
}

#description {}

#buyit {
    display: flex;
    width: 40%;
    height:2rem;
    border-radius: 3rem;
    font-size:25px;
    font-family: 'haettenschweiler', idk;
    justify-content: center;
    align-items: center;
    background-color: black;
}